

body {
    background-color: #1f457e;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #355ae9;
}

.title-header {
    margin: 0;
    padding-right: 2px;
}

#theme-toggle {
    margin-left: auto;
    margin-right: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8d9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#carta {
    margin: auto;
    max-width: 700px;
    padding: 20px;
    background-color: #f8f8d9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: mudar-fundo 10s ease-in-out infinite;
    animation-play-state: paused;
}

.signature {
    font-family: "Great Vibes", cursive;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

body.dark-mode {
    background-color: #333;
    color: #fafcff;
}

    body.dark-mode header {
        background-color: #222;
    }

    body.dark-mode #carta {
        background-color: #222;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    }

/* Estilos comuns */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#theme-toggle {
    margin-left: auto;
}
